@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import "tailwindcss";
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
@theme{
  --font-comforta:'Comfortaa','sans-serif';
  --font-exo:'Exo', 'sans-serif';
}